.lexilala-language-selector {
    font-size: 20px;
}

.lexilala-card-game {
    position: relative;
    width: 100vh;
    height: auto;
    justify-self: center;
    margin: 30px;
}

.lexilala-card-game .game-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100vh;
    margin: 20px;
    align-items: center;
}

.lexilala-cards {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 20px;
    justify-content: center;
    perspective: 1500px;
	padding:20px;
	margin:30px;
}

.lexilala-card {
    width: 200px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
    // background: white;
    border-radius: 10px;
    // box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    padding: 5px;
    box-sizing: border-box;
}

.lexilala-card.flipped {
    transform: rotateY(180deg);
}

.lexilala-card-front,
.lexilala-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
	font-size: 10px;
	padding:5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);

}

.lexilala-card-front {
    background: white;
    padding: 10px;
    box-sizing: border-box;
}

.lexilala-card-front img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px; /* optional, keeps image corners rounded inside card */
}

.lexilala-card-back {
    background: white;
    transform: rotateY(180deg);
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px; /* rounded back */
}

.reload-btn {
    background-color: #A2BF1A;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 30px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.reload-btn:hover {
    background-color: #849c13;
}

select {
    border: none;
    background: #fff;
    padding: 10px;
    transition: 0.4s;
    border-radius: 7px;
}

.lexilala-card-front img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    border-radius: 10px;
}


@media (max-width: 1024px) {
    .lexilala-card-game {
        width: 100%;
        margin: 20px auto;
    }

    .lexilala-card-game .game-nav {
        width: 100%;
        margin: 20px auto;
    }
}

@media (max-width: 768px) {
    .lexilala-cards {
        grid-template-columns: repeat(2, 120px);
    }
}

@media (max-width: 480px) {
    .lexilala-cards {
        grid-template-columns: repeat(2, 100px);
    }

    .lexilala-card {
        width: 100px;
        height: 140px;
    }

    .lexilala-card-back {
        font-size: 18px;
    }
}
