main {
  background-color: white;

  .wp-block-image {
    align-items: center;

    .wp-image-73 {
      width: 400px;
      height: auto;
      margin-top: 50px;
      margin-left: 622px;
    }
  }

   .livres {
    background-color: white;
    margin-left: 100px;
  }

  .education {
    background-color: white;
    margin-left: 100px;
  }

  .documents {
    background-color: white;
    margin-left: 100px;
  }
}
