main {
  background-color: white;

  .wp-block-image {
    align-items: center;

    .wp-image-73 {
      width: 400px;
      height: auto;
      margin-top: 50px;
      margin-left: 622px;
    }
  }
}
