/* PAGE MOT */

.colonne-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.mot-image {
  width: 100%;
  border-radius: 20px;
  display: block;
  margin: 40px 40px 40px 40px;
}
.mot-signe {
  font-family: noto-sans, sans-serif;
  font-size: 18px;
  margin-top: -20px;
  margin-bottom: 30px;
  text-align: center;
}
.mot-pdf {
  font-family: noto-sans, sans-serif;
  font-size: 18px;
  margin-top: -10px;
  margin-bottom: 50px;
  text-decoration: none;
  color: #7da600;
  text-align: center;
}
/* Colonnes Gutenberg : alignement parfait */
.wp-block-columns {
  display: flex;
  align-items: center; /* même hauteur */
  width: auto;
  margin-left: 30px;
}
.wp-block-group {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
  width: 100%;
}
.wp-block-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: none;
  gap: 10px;
}
.wp-block-column-p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: none;
  gap: 15px;
  margin-top: 10px;
}
.mot-langue {
  gap: 16px;
  margin-top: 10px;
}
.mot-traductions {
  font-family: noto-sans, sans-serif;
  font-size: 19px;
  line-height: 2;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: unset;
  margin-top: unset;
}

.wp-block-button.mot-langue {
  background: #7da600;
  font-family: noto-sans, sans-serif;
  font-size: 12px;
  color: #fff;
  width: 75px;
  height: 22px;
  opacity: 1;
  border-radius: 30px;
  border-width: 1px;

  white-space: nowrap;
}

.mot-texte {
  font-family: noto-sans, sans-serif;
  font-size: 19px;
  width: 150px;
  height: 35px;
  opacity: 1;
  padding: 10px 15px;
  border-radius: 8px;
  flex: 1;
}
